First, to start the demo, below DB and their tables need to be deployed:
STAGE
META
GAMESTORE

After database and tables deployed, first load some data into OLTP tables

In [10]:
--Clean OLTP data.
TRUNCATE TABLE GAMESTORE.DBO.GAMELIST
TRUNCATE TABLE GAMESTORE.DBO.CUSTOMER
TRUNCATE TABLE GAMESTORE.DBO.[ORDER]

--Insert some testing data.
INSERT INTO GAMESTORE.dbo.GAMELIST
SELECT 1,'GTA1','JAPAN',20,1,1,1,1,1,'Sam','',''
UNION ALL
SELECT 2,'GTA2','JAPAN',60,1,1,1,1,1,'Sam','',''
UNION ALL
SELECT 3,'GTA3','KOREA',80,1,1,1,1,1,'Sam','',''
UNION ALL
SELECT 4,'GTA4','JAPAN',160,1,1,1,1,1,'Sam','',''
UNION ALL
SELECT 5,'GTA5','JAPAN',180,1,1,1,1,1,'Sam','',''


INSERT INTO GAMESTORE.DBO.CUSTOMER
SELECT 1,'Wade','1980-01-01', 1, 'China'
UNION ALL
SELECT 2,'James', '1981-01-01', 1, 'USA'
UNION ALL
SELECT 3, 'Wege', '1985-01-01', 1, 'Germany'


INSERT INTO GAMESTORE.DBO.[ORDER]
SELECT 1, '2010-01-01', 1, 2
UNION ALL
SELECT 2, '2010-02-01', 1, 3
UNION ALL
SELECT 3, '2010-01-01', 2, 1
UNION ALL
SELECT 4, '2010-01-02', 3, 2
UNION ALL
SELECT 5, '2010-02-03', 4, 3
UNION ALL
SELECT 6, '2010-01-01', 5, 1

Then load META data.

In [0]:
TRUNCATE TABLE META.DBO.ATTRIBUTE

INSERT INTO META.DBO.ATTRIBUTE
(
    TABLE_CATALOG,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    CHARACTER_MAXIMUM_LENGTH,
    NUMERIC_PRECISION,
    NUMERIC_SCALE
)
SELECT
    TABLE_CATALOG,
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    CHARACTER_MAXIMUM_LENGTH,
    NUMERIC_PRECISION,
    NUMERIC_SCALE
FROM GAMESTORE.INFORMATION_SCHEMA.COLUMNS

Then need to manual modify the meta data config, to tell system which is BK, PK and DI.
So after changed META should be as below:

In [0]:
USE [META]
GO
SET IDENTITY_INSERT [dbo].[ATTRIBUTE] ON 
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (1, N'GAMESTORE', N'GAMELIST', N'ID', N'int', NULL, 10, 0, 1, 1, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (2, N'GAMESTORE', N'GAMELIST', N'Game name', N'nvarchar', 50, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (3, N'GAMESTORE', N'GAMELIST', N'AREA', N'nvarchar', 20, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (4, N'GAMESTORE', N'GAMELIST', N'PRICE', N'decimal', NULL, 10, 2, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (5, N'GAMESTORE', N'GAMELIST', N'FLAG01', N'int', NULL, 10, 0, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (6, N'GAMESTORE', N'GAMELIST', N'FLAG02', N'int', NULL, 10, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (7, N'GAMESTORE', N'GAMELIST', N'FLAG03', N'int', NULL, 10, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (8, N'GAMESTORE', N'GAMELIST', N'FLAG04', N'int', NULL, 10, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (9, N'GAMESTORE', N'GAMELIST', N'FLAG05', N'int', NULL, 10, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (10, N'GAMESTORE', N'GAMELIST', N'Operator', N'nvarchar', 20, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (11, N'GAMESTORE', N'GAMELIST', N'AREA_HTR', N'nvarchar', 50, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (12, N'GAMESTORE', N'GAMELIST', N'PRICE_HTR', N'nvarchar', 50, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (13, N'GAMESTORE', N'CUSTOMER', N'CustomerID', N'int', NULL, 10, 0, 1, 1, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (14, N'GAMESTORE', N'CUSTOMER', N'CustomerName', N'nvarchar', 30, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (15, N'GAMESTORE', N'CUSTOMER', N'Birth', N'date', NULL, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (16, N'GAMESTORE', N'CUSTOMER', N'Gender', N'int', NULL, 10, 0, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (17, N'GAMESTORE', N'CUSTOMER', N'Address', N'nvarchar', 50, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (18, N'GAMESTORE', N'ORDER', N'ORDERID', N'int', NULL, 10, 0, 1, 1, NULL, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (19, N'GAMESTORE', N'ORDER', N'ORDERDATE', N'date', NULL, NULL, NULL, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (20, N'GAMESTORE', N'ORDER', N'GAMEID', N'int', NULL, 10, 0, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[ATTRIBUTE] ([ID], [TABLE_CATALOG], [TABLE_NAME], [COLUMN_NAME], [DATA_TYPE], [CHARACTER_MAXIMUM_LENGTH], [NUMERIC_PRECISION], [NUMERIC_SCALE], [BK], [PK], [DI], [DVID]) VALUES (21, N'GAMESTORE', N'ORDER', N'CUSTOMERID', N'int', NULL, 10, 0, NULL, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ATTRIBUTE] OFF
GO

Then we can go to to generate for PSA scripts.

First load data from source to stage.

In [4]:
--
TRUNCATE TABLE STAGE.[dbo].GAMELIST

INSERT INTO STAGE.[dbo].GAMELIST
(
	[ID]
	,[Game name]
	,[AREA]
	,[PRICE]
	,[FLAG01]
	,[Operator]
)
SELECT 
	[ID]
	,[Game name]
	,[AREA]
	,[PRICE]
	,[FLAG01]
	,[Operator]
FROM GAMESTORE.dbo.GAMELIST

--
TRUNCATE TABLE STAGE.[dbo].[CUSTOMER]

INSERT INTO STAGE.[dbo].[CUSTOMER]
SELECT * FROM GAMESTORE.dbo.CUSTOMER

--
TRUNCATE TABLE STAGE.[dbo].[ORDER]

INSERT INTO STAGE.[dbo].[ORDER]
SELECT * FROM GAMESTORE.dbo.[ORDER]

Execute USPs

In [0]:
EXEC [dbo].[USP_GAMELIST_STG]
EXEC [dbo].[USP_ORDER_STG]
EXEC [dbo].[USP_CUSTOMER_STG]

EXEC [dbo].[USP_GAMELIST_HIS]
EXEC [dbo].[USP_ORDER_HIS]
EXEC [dbo].[USP_CUSTOMER_HIS]

Then check the data

In [5]:
SELECT * FROM [STAGE].[dbo].[GAMELIST]
SELECT * FROM [STAGE].[dbo].[GAMELIST_STG]
SELECT * FROM [STAGE].[dbo].[GAMELIST_HIS]

ID,Game name,AREA,PRICE,FLAG01,Operator
1,GTA1,JAPAN,20.00,1,Sam
2,GTA2,JAPAN,60.00,1,Sam
3,GTA3,KOREA,80.00,1,Sam
4,GTA4,JAPAN,160.00,1,Sam
5,GTA5,JAPAN,180.00,1,Sam

ID,Game name,AREA,PRICE,FLAG01,Operator,HD,INSERT TIME
1,GTA1,JAPAN,20.00,1,Sam,641252F2B103F64EB2A49E09D549139E,2019-11-18 17:05:53.220
2,GTA2,JAPAN,60.00,1,Sam,05FF0DC637E681D853261CF5A231FE35,2019-11-18 17:05:53.220
3,GTA3,KOREA,80.00,1,Sam,B1F848471204E9B0F84C0A08679A7CEB,2019-11-18 17:05:53.220
4,GTA4,JAPAN,160.00,1,Sam,3C569CDAEA51F7A8886DFB93C2EC4341,2019-11-18 17:05:53.220
5,GTA5,JAPAN,180.00,1,Sam,3311FEA2EBFB765CAAFBDDE22317D93A,2019-11-18 17:05:53.220

ID,Game name,AREA,PRICE,FLAG01,Operator,HD,INSERT TIME,VALID FROM,VALID TO,IS CURRENT
1,GTA1,JAPAN,20.00,1,Sam,641252F2B103F64EB2A49E09D549139E,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
2,GTA2,JAPAN,60.00,1,Sam,05FF0DC637E681D853261CF5A231FE35,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
3,GTA3,KOREA,80.00,1,Sam,B1F848471204E9B0F84C0A08679A7CEB,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
4,GTA4,JAPAN,160.00,1,Sam,3C569CDAEA51F7A8886DFB93C2EC4341,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
5,GTA5,JAPAN,180.00,1,Sam,3311FEA2EBFB765CAAFBDDE22317D93A,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1

Then we update something in GAMELIST source table.

In [7]:
UPDATE STAGE.[dbo].[GAMELIST] SET AREA='JAPAN' WHERE ID=3

Then run USPs for the table.

In [8]:
EXEC STAGE.[dbo].[USP_GAMELIST_STG]

EXEC STAGE.[dbo].[USP_GAMELIST_HIS]

Then check update rows.
We can see for the updated row, new data inserted, and old row valid_to changed, and also IS_CURRENT filed updated.

In [9]:
SELECT * FROM [STAGE].[dbo].[GAMELIST]
SELECT * FROM [STAGE].[dbo].[GAMELIST_STG]
SELECT * FROM [STAGE].[dbo].[GAMELIST_HIS]

ID,Game name,AREA,PRICE,FLAG01,Operator
1,GTA1,JAPAN,20.00,1,Sam
2,GTA2,JAPAN,60.00,1,Sam
3,GTA3,JAPAN,80.00,1,Sam
4,GTA4,JAPAN,160.00,1,Sam
5,GTA5,JAPAN,180.00,1,Sam

ID,Game name,AREA,PRICE,FLAG01,Operator,HD,INSERT TIME
1,GTA1,JAPAN,20.00,1,Sam,641252F2B103F64EB2A49E09D549139E,2019-11-18 17:10:31.383
2,GTA2,JAPAN,60.00,1,Sam,05FF0DC637E681D853261CF5A231FE35,2019-11-18 17:10:31.383
3,GTA3,JAPAN,80.00,1,Sam,47B96AF013DBC2D6FE2CD9F24CF64C4F,2019-11-18 17:10:31.383
4,GTA4,JAPAN,160.00,1,Sam,3C569CDAEA51F7A8886DFB93C2EC4341,2019-11-18 17:10:31.383
5,GTA5,JAPAN,180.00,1,Sam,3311FEA2EBFB765CAAFBDDE22317D93A,2019-11-18 17:10:31.383

ID,Game name,AREA,PRICE,FLAG01,Operator,HD,INSERT TIME,VALID FROM,VALID TO,IS CURRENT
1,GTA1,JAPAN,20.00,1,Sam,641252F2B103F64EB2A49E09D549139E,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
2,GTA2,JAPAN,60.00,1,Sam,05FF0DC637E681D853261CF5A231FE35,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
3,GTA3,KOREA,80.00,1,Sam,B1F848471204E9B0F84C0A08679A7CEB,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2019-11-18 17:10:31.400,0
4,GTA4,JAPAN,160.00,1,Sam,3C569CDAEA51F7A8886DFB93C2EC4341,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
5,GTA5,JAPAN,180.00,1,Sam,3311FEA2EBFB765CAAFBDDE22317D93A,2019-11-18 17:05:53.237,2019-11-18 17:05:53.237,2199-12-31 00:00:00.000,1
3,GTA3,JAPAN,80.00,1,Sam,47B96AF013DBC2D6FE2CD9F24CF64C4F,2019-11-18 17:10:31.383,2019-11-18 17:10:31.400,2199-12-31 00:00:00.000,1